:root {
  --main-color: rgb(255, 255, 255);
  --background-color: #e9e9e9;

  --text-main-color: rgb(35, 35, 35);
  --text-secondary-color: rgb(157, 157, 157);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  text-align: right;
  font-size: 1rem;
  color: var(--text-main-color);
  background: var(--background-color);
}

/*  navigation */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  background-color: var(--main-color);
}
li {
  float: right;
  margin: 0;
  padding: 14px 40px;
}

a {
  text-decoration: none;
  color: rgb(132, 132, 202);
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.link {
  padding-top: 37.6px;
  padding-bottom: 37.6px;
  transition-duration: 0.5s;
  text-align: center;
}

.link:hover {
  background: var(--background-color);
  transition-duration: 0.5s;
}

.f {
  float: left;
}

.fac {
  padding-top: 34px;
  padding-bottom: 34px;
  color: rgb(132, 132, 202);
}

/* contact page */

.contact-head {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
}

.inputHead {
  margin: 5px;
  border: none;
  height: 25px;
  font-family: "Heebo", sans-serif;
  padding: 10px;
}

textarea {
  font-family: "Heebo", sans-serif;
  resize: none;
  padding: 10px;
  border: none;
  margin: 5px;
  grid-column: 1 / span 3;
  grid-row: 2 / span 4;
  margin-bottom: 20px;
}

.submitButton {
  background-color: #56b5b3;
  border: none;
  text-decoration: none;
  color: white;
  font-family: "Heebo", sans-serif;
  border-radius: 2px;
  grid-column-start: 2;
  grid-row-start: 6;
  font-weight: bold;
}

@media screen and (max-width: 1050px) {
  li {
    float: none;
  }
  .f {
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    max-width: 500px;
  }
  .submitButton {
    width: 90%;
    height: 30px;
  }
  .inputHead {
    width: 94%;
    text-align: center;
    padding: 0;
    margin: 3%;
    
  }
  .text {
    width: 96%;
    text-align: center;
    padding: 0;
    margin: 2%;
  }
} 